body {
	/* 首页 */
  position: relative;
  width: 1920px;
  height: 1080px;
  opacity: 1;

  background: #FDFDFD;
}
img {
  /* 顶栏 */

  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 121px;
  border-radius: 0px 0px 15px 15px;
  opacity: 1;

  background: #F5F5F7;
}
img {
  /* Power */

  position: absolute;
  left: 37px;
  top: 11px;
  width: 437px;
  height: 99px;
  opacity: 1;
}
img {
  /* FastCloud */

  position: absolute;
  left: 620px;
  top: 38px;
  width: 63px;
  height: 57.44px;
  opacity: 1;
    
  background: url(FastCloud.png);
}