body {
	/* 首页 */
  position: relative;
  width: 1920px;
  height: 1080px;
  opacity: 1;

  background: #FDFDFD;
}
#h {
  /* 顶栏 */

  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 121px;
  border-radius: 0px 0px 15px 15px;
  opacity: 1;

  background: #F5F5F7;
}
#a {
  /* Power */

  position: absolute;
  left: 37px;
  top: 11px;
  width: 437px;
  height: 99px;
  opacity: 1;
}
#b {
  /* FastCloud */

  position: absolute;
  left: 620px;
  top: 38px;
  width: 63px;
  height: 57.44px;
  opacity: 1;
}
#c {
  /* FCstore */

  position: absolute;
  left: 829px;
  top: 29px;
  width: 69px;
  height: 65px;
  opacity: 1;
}
#d {
  /* FCcha */

  position: absolute;
  left: 1014px;
  top: 29px;
  width: 89px;
  height: 70px;
  opacity: 1;
}
#e {
  /* FCclean */

  position: absolute;
  left: 1219px;
  top: 26px;
  width: 77px;
  height: 77px;
  opacity: 1;
}
#f {
  /* FCweb */

  position: absolute;
  left: 1430px;
  top: 32px;
  width: 99px;
  height: 70px;
  opacity: 1;
}
#g {
  /* FCacc */

  position: absolute;
  left: 1662px;
  top: 26px;
  width: 83px;
  height: 78px;
  opacity: 1;
}
#i {
  /* Powerpic */
    
  position: absolute;
  left: 256px;
  top: 401px;
  width: 1297px;
  height: 182px;
  opacity: 1;
}
#j {
  /* touFastCloud*/

  position: absolute;
  left: 270px;
  top: 804px;
  width: 81px;
  height: 74px;
  opacity: 1;
}
#k {
  /* touFCstore */

  position: absolute;
  left: 538px;
  top: 793px;
  width: 89px;
  height: 83px;
  opacity: 1;
}
#l {
  /* touFCcha */

  position: absolute;
  left: 776px;
  top: 793px;
  width: 114px;
  height: 90px;
  opacity: 1;
}
#m {
  /* touFCclean */

  position: absolute;
  left: 1039px;
  top: 789px;
  width: 99px;
  height: 99px;
  opacity: 1;
}
#n {
  /* touFCweb */

  position: absolute;
  left: 1310px;
  top: 797px;
  width: 128px;
  height: 89px;
  opacity: 1;
}
#o {
  /* touFCacc */

  position: absolute;
  left: 1608px;
  top: 789px;
  width: 107px;
  height: 100px;
  opacity: 1;
}
#p {
/* 指向图标 */

position: absolute;
left: 1012px;
top: 723px;
width: 104px;
height: 104px;
transform: rotate(180deg);
border-radius: 10px;
opacity: 1;
	
background: rgba(61, 61, 61, 0.65);
	
}
#q {
  /* ©fcone.top */

  position: absolute;
  left: 10px;
  top: 1040px;
  width: 175px;
  height: 40px;
  opacity: 1;
    
  font-family: Tw Cen MT;
  font-size: 36px;
  font-weight: normal;
  letter-spacing: 0em;
    
  color: #3D3D3D;
}