body {
	/* 首页 */
  position: relative;
  width: 1920px;
  height: 1080px;
  opacity: 1;

  background: #FDFDFD;
}
#h {
  /* 顶栏 */

  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 121px;
  border-radius: 0px 0px 15px 15px;
  opacity: 1;

  background: #F5F5F7;
}
#a {
  /* Power */

  position: absolute;
  left: 37px;
  top: 11px;
  width: 437px;
  height: 99px;
  opacity: 1;
}
#b {
  /* FastCloud */

  position: absolute;
  left: 620px;
  top: 38px;
  width: 63px;
  height: 57.44px;
  opacity: 1;
    
/*   background: url(https://fcone.top/fcimage/FastCloud.png); */
}
#c {
  /* FCstore */

  position: absolute;
  left: 829px;
  top: 29px;
  width: 69px;
  height: 65px;
  opacity: 1;
    
/*   background: url(https://fcone.top/fcimage/FCstore.png); */
}
#d {
  /* FCcha */

  position: absolute;
  left: 1014px;
  top: 29px;
  width: 89px;
  height: 70px;
  opacity: 1;
    
/*   background: url(https://fcone.top/fcimage/FCcha.png); */
}
#e {
  /* FCclean */

  position: absolute;
  left: 1219px;
  top: 26px;
  width: 77px;
  height: 77px;
  opacity: 1;
    
/*   background: url(https://fcone.top/fcimage/FCclean.png); */
}
#f {
  /* FCweb */

  position: absolute;
  left: 1430px;
  top: 32px;
  width: 99px;
  height: 70px;
  opacity: 1;
    
/*   background: url(https://fcone.top/fcimage/FCweb.png); */
}
#g {
  /* FCacc */

  position: absolute;
  left: 1662px;
  top: 26px;
  width: 83px;
  height: 78px;
  opacity: 1;
    
/*   background: url(https://fcone.top/fcimage/FCacc.png); */
}
#i {
  /* Powerpic */
    
  position: absolute;
  left: 256px;
  top: 401px;
  width: 1297px;
  height: 182px;
  opacity: 1;
}
